*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header>img{
    width: 25px;
    margin-left: 60px;
    float: left;
}
#name{
    padding-left: 15px;
    font-size: 23px;
    font-weight: 600;
    color: black;
    float: left;
    display: inline;
}
#yt{
    padding-top: 8px;
    padding-left: 5px;
    font-size: 15px;
    color: black;
    float: left;
    display: inline;
}
#links{
    padding-top: 5px;
    padding-right: 60px;
    font-size: 15px;
    float: right;
}
.sublink{
    text-decoration: none;
    color: black;
}
main>section{
    margin-bottom: 200px;
}
main>section>img{
    width: 450px;
    float: left;
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 50%;
    border: 1px solid gray;
}
#hello{
    padding-top: 150px;
    padding-left: 700px;
    font-size: 80px;
    font-weight: 600;
}
#aboutheader{
    padding-top: 5px;
    padding-left: 710px;
}
#subabout{
    padding-top: 0px;
    padding-left: 710px;
}
#linksbutton{
    display: flex;
    padding-top: 30px;
    margin-left: 670px;
    height: 200px;
}
#resumelink{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    padding-top: 8vh;
    height: 130px;
    width: 130px;
    background-color: rgb(245, 229, 4);
    border-radius: 50%;
    border: 1px gray solid;
    font-size: 18px;
    font-weight: 600;
}
#projectlink{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    padding-top: 8vh;
    height: 130px;
    width: 130px;
    background-color:rgb(250, 47, 11);
    border-radius: 50%;
    border: 1px gray solid;
    font-size: 18px;
    font-weight: 600;
}
#contactlink{
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 8vh;
    height: 130px;
    width: 130px;
    background-color:rgb(7, 193, 199);
    border-radius: 50%;
    border: 1px gray solid;
    font-size: 18px;
    font-weight: 600;
}
#contactlink:hover,
#projectlink:hover,
#resumelink:hover{
    background-color: bisque;
    transition-duration: .5s;
}
#footer{
    display: flex;
    height: 150px;
    width: 100%;
}
.box{
    width:25%;
    padding-left: 50px;
    padding-top: 15px;
    padding-right:60px ;
}
#ftrimg{
    padding-bottom: 10px;
    width: 25px;
}
#ftrimg1{
    padding-top:;
    width: 35px;
}
a{
    text-decoration: none;
    color: black;
}